<!DOCTYPE html>
<html>
    <head>
        <title>Checkout</title>
        <link rel="stylesheet" href="../styles/checkout.css">
    </head>
    <body>
        <div class="top-bar">
            <a href="amazon.html">
                <img class="logo" src="../assets/amazon-logo.png">
            </a>
            <p class="heading">
                Checkout (<span class="item-count js-cart-size"></span> <span class="item-count">items</span>)
            </p>
            <img class="lock" src="../assets/checkout-lock-icon.png">
        </div>
        <div class="main-content">
            <p class="review">Review your order</p>
            <div class="outer-box-container">
                <div class="left-box js-left-box">
                    <!-- cart items -->
                </div>
                <div class="right-box js-payment-summary">
                    <!-- payment summary box -->
                </div>
            </div>
        </div>
        <script type="module" src="../scripts/checkout.js"></script>
    </body>
</html>