<!DOCTYPE html>
<html>
    <head>
        <title>Order Summary</title>
        <link rel="stylesheet" href="../styles/tracking.css">
    </head>
    <body>
        <div class="top-bar">
            <a href="amazon.html">
                <img class="logo" src="../assets/amazon-logo-white.png">
            </a>
            <div class="search-container">
                <input class="search-box" placeholder="Search">
                <img class="search-button" src="../assets/search-icon.png">
            </div>
            <button class="returns">
                Returns
                <br>
                <span class="order-text">& Orders</span>
            </button>
            <a href="checkout.html">
                <div>
                    <p class="cart-size js-cart-size">0</p>
                    <img class="cart" src="../assets/cart-icon.png">
                </div>
            </a>
        </div>
        <div class="main-body">
            <a href="./orders.html">
                <p class="all-orders" ul>View all orders</p>
            </a>
            <div class="js-track-container">
                <!-- tracking.js -->
            </div>
        </div>
        <script src="../scripts/tracking.js" type="module"></script>
    </body>
</html>