html, body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
p {
    font-family: Arial, Helvetica, sans-serif;
}
.top-bar {

    background-color: #131921;
    margin: 0px;
    display: flex;
    align-items: center;
    padding: 15px;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}
.logo {
    height: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.search-container {
    display: flex;
    margin-left: 100px;
    margin-right: 40px;
    flex: 1;
}

.search-box {
    box-sizing: border-box;
    height: 42px;
    width: 100%;
    min-width: 100px;
    max-width: 500px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    font-size: 18px;
    padding-left: 15px;
    padding-right: 15px;
}
.search-box:focus {
    border-color: #ecb158;
    border-width: 2px;
    border-style: solid;
    outline: none;
}
.search-button {
    background-color: #ecb158;
    height: 22px;
    padding: 10px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.returns {
    background-color: transparent;
    color: white;
    border: none;
    width: 80px;
    font-size :14px;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    font-family: Arial;
}
.order-text {
    font-weight: bold;
    white-space: nowrap;
}
.cart-size {
    color: #ecb158;
    position: fixed;
    margin-left: 41px;
    margin-top: -3px;
    font-weight: bold;
}
.cart {
    height: 30px;
    margin-left: 20px;
    margin-right: 20px;
}
.product-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    margin-top: 70px;
}

@media (max-width: 2000px) {
    .product-container {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media (max-width: 2000px) {
    .product-container {
        grid-template-columns: repeat(7, 1fr);
    }
}

@media (max-width: 1600px) {
    .product-container {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media (max-width: 1300px) {
    .product-container {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (max-width: 1000px) {
    .product-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 800px) {
    .product-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 575px) {
    .product-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 449px) {
    .product-container {
        grid-template-columns: 1fr;
    }
}


.product {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    border-right-color: rgb(225, 225, 225);
    border-right-width: 1px ;
    border-right-style: solid ;
    border-bottom-color: rgb(225, 225, 225);
    border-bottom-width: 1px ;
    border-bottom-style: solid ;
    height: 450px;
    display: flex;
    flex-direction: column;
}
.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 100%;
}
.product-image {
    max-height: 100%;
    max-width: 100%;
}
.name {
    font-size: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
    line-height: 1.3em;
    height: calc(1.3em * 2);
    margin-top: 15px;
    margin-bottom: 0px;
}
.rating {
    display: flex;
    align-items: center;
    margin: 0px;
    height: 30px;
}
.rating-stars {
    width: 100px;
    margin-right: 10px;
}
.rating-num {
    color: rgb(0, 107, 157);
    font-size: 16px;
    padding-top: 4px;
}
.price {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}
.quantity {
    height: 26px;
    width: 45px;
    border-radius: 8px;
    background-color: rgb(246, 246, 246);
    border-color: rgb(220, 220, 220);
    font-size: 16px;
    padding-left: 5px;
    outline: none;
}
.added-container {
    display: flex;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    opacity: 0;
    transition: 0.05s;
}
.checkmark {
    height: 20px;
    width: 20px;
    margin: 0px;
}
.added {
    color: rgb(14, 130, 14);
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.add-to-cart {
    background-color: #ffd53b;
    border: none;
    height: 36px;
    width: 100%;
    border-radius: 18px;
}
.add-to-cart:hover {
    background-color: #f5cd3a;
}
.add-to-cart:active {
    background-color: #eec634;
}