html, body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}
.top-bar {
    background-color: #131921;
    margin: 0px;
    display: flex;
    align-items: center;
    padding: 15px;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}
.logo {
    height: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.search-container {
    display: flex;
    margin-left: 100px;
    margin-right: 40px;
    flex: 1;
}

.search-box {
    box-sizing: border-box;
    height: 42px;
    width: 100%;
    min-width: 100px;
    max-width: 500px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    font-size: 18px;
    padding-left: 15px;
    padding-right: 15px;
}
.search-box:focus {
    border-color: #ecb158;
    border-width: 2px;
    border-style: solid;
    outline: none;
}
.search-button {
    background-color: #ecb158;
    height: 22px;
    padding: 10px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.returns {
    background-color: transparent;
    color: white;
    border: none;
    width: 80px;
    font-size :14px;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    font-family: Arial;
}
.order-text {
    font-weight: bold;
    white-space: nowrap;
}
.cart-size {
    color: #ecb158;
    position: fixed;
    margin-left: 41px;
    margin-top: -3px;
    font-weight: bold;
}
.cart {
    height: 30px;
    margin-left: 20px;
    margin-right: 20px;
}
.main-area {
    margin: auto;
    max-width: 800px;
    padding: 20px;
    margin-top: 70px;
}
.heading {
    font-weight: bold;
    font-size: 24px;
}
.order-id-container {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
}
.header-box {
    display: flex;
    border-color: rgb(225, 225, 225);
    border-style: solid;
    border-width: 1px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: rgb(244, 244, 244);
    padding: 20px;
    flex: 1 auto auto;
}
.order-placed {
    width: 150px;
}
.total {
    width: 150px;
    text-align: left;
}
.order-id {
    margin-left: auto;
}
.sub-heading {
    font-weight: bold;
}
.body-box {
    display: flex;
    flex-direction: column;
    border-color: rgb(225, 225, 225);
    border-style: solid;
    border-width: 1px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-top: -1px;
}
.item-container {
    display : flex;
    padding: 20px;
}
.image-container {
    width: 150px;
    box-sizing: border-box;
    padding: 20px;
}
.image {
    width: 100%;
}
.info {
    padding: 20px;
}
.item-name {
    font-weight: bold;
    margin-bottom: 10px;
}
.buy-again-icon {
    height: 26px;
    margin-right: 15px;
}
.buy-again {
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #ffd53b;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
    height: 35px;
    width: 150px;
}
.buy-again:hover {
    background-color: #f5cd3a;
}
.buy-again:active {
    background-color: #eec634;
}
.track-container {
    padding: 20px;
    margin-left: auto;
}
.track {
    background-color: white;
    border-color: rgb(219, 219, 219);
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    height: 36px;
    width: 220px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.10);
}
.track:hover {
    background-color: rgb(244, 244, 244);
}
.track:active {
    background-color: rgb(237, 237, 237);
}