html, body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}
.top-bar {
    background-color: #131921;
    margin: 0px;
    display: flex;
    align-items: center;
    padding: 15px;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}
.logo {
    height: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.search-container {
    display: flex;
    margin-left: 100px;
    margin-right: 40px;
    flex: 1;
}

.search-box {
    box-sizing: border-box;
    height: 42px;
    width: 100%;
    min-width: 100px;
    max-width: 500px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    font-size: 18px;
    padding-left: 15px;
    padding-right: 15px;
}
.search-box:focus {
    border-color: #ecb158;
    border-width: 2px;
    border-style: solid;
    outline: none;
}
.search-button {
    background-color: #ecb158;
    height: 22px;
    padding: 10px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.returns {
    background-color: transparent;
    color: white;
    border: none;
    width: 80px;
    font-size :14px;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    font-family: Arial;
}
.order-text {
    font-weight: bold;
    white-space: nowrap;
}
.cart-size {
    color: #ecb158;
    position: fixed;
    margin-left: 41px;
    margin-top: -3px;
    font-weight: bold;
}
.cart {
    height: 30px;
    margin-left: 20px;
    margin-right: 20px;
}
.main-body {
    padding-top: 70px;
    margin: auto;
    max-width: 900px;
}
.all-orders {
    margin-top: 30px;
    margin-bottom: 30px;
    color: rgb(41, 135, 202);
    text-decoration: underline;
}
.all-orders:hover {
    color: rgb(209, 136, 0);
    cursor: pointer;
}
.arrival {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}
.normal-text {
    margin-top: 10px;
    margin-bottom: 10px;
}
.image {
    height: 150px;
    margin: 10px;
}
.state {
    display : flex;
    justify-content: space-between;
    margin-top: 40px;
    font-size: 20px;
    font-weight: bold;
}
.bar-outline {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(205, 205, 205);
    height: 24px;
    border-radius: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.bar {
    background-color: green;
    height: 24px;
    border-radius: 12px;
}